# Introduction

### Load packages

In [4]:
# load packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

### Data collection

In [5]:
# load the SalesForCourse_quizz_table dataset

sales_data = pd.read_csv(r'../CapstoneTwo/SalesForCourse_quizz_table.csv')

### Data definition

In [6]:
# check the shape of the dataset

print(sales_data.shape)

(34867, 15)

In [7]:
# print the first five rows of the DataFrame

print(sales_data.head())

   index       Date    Year     Month  Customer Age Customer Gender  \
0      0  2/19/2016  2016.0  February          29.0               F
1      1  2/20/2016  2016.0  February          29.0               F
2      2  2/27/2016  2016.0  February          29.0               F
3      3  3/12/2016  2016.0     March          29.0               F
4      4  3/12/2016  2016.0     March          29.0               F

         Country       State Product Category     Sub Category  Quantity  \
0  United States  Washington      Accessories  Tires and Tubes       1.0
1  United States  Washington         Clothing           Gloves       2.0
2  United States  Washington      Accessories  Tires and Tubes       3.0
3  United States  Washington      Accessories  Tires and Tubes       2.0
4  United States  Washington      Accessories  Tires and Tubes       3.0

   Unit Cost  Unit Price   Cost  Revenue
0      80.00  109.000000   80.0    109.0
1      24.50   28.500000   49.0     57.0
2       3.67    5.000000   11.0     15.0
3      87.50  116.500000  175.0    233.0
4      35.00   41.666667  105.0    125.0

In [8]:
# print the info() of sales_data

print(sales_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34867 entries, 0 to 34866
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             34867 non-null  int64
 1   Date              34866 non-null  object
 2   Year              34866 non-null  float64
 3   Month             34866 non-null  object
 4   Customer Age      34866 non-null  float64
 5   Customer Gender   34866 non-null  object
 6   Country           34866 non-null  object
 7   State             34866 non-null  object
 8   Product Category  34866 non-null  object
 9   Sub Category      34866 non-null  object
 10  Quantity          34866 non-null  float64
 11  Unit Cost         34866 non-null  float64
 12  Unit Price        34866 non-null  float64
 13  Cost              34866 non-null  float64
 14  Revenue           34867 non-null  float64
dtypes: float64(7), int64(1), object(7)
memory usage: 4.0+ MB
None

In [9]:
# view only the columns

print(sales_data.columns)

Index(['index', 'Date', 'Year', 'Month', 'Customer Age', 'Customer Gender',
       'Country', 'State', 'Product Category', 'Sub Category', 'Quantity',
       'Unit Cost', 'Unit Price', 'Cost', 'Revenue'],
      dtype='object')

In [10]:
# unique values in each column

print(sales_data['Sub Category'].unique()) # 17 unique values

['Tires and Tubes' 'Gloves' 'Helmets' 'Bike Stands' 'Mountain Bikes'
 'Hydration Packs' 'Jerseys' 'Fenders' 'Cleaners' 'Socks' 'Caps'
 'Touring Bikes' 'Bottles and Cages' 'Vests' 'Road Bikes' 'Bike Racks'
 'Shorts' nan]

In [11]:
# view the sub category

print(sales_data['Sub Category'].unique())

['Tires and Tubes' 'Gloves' 'Helmets' 'Bike Stands' 'Mountain Bikes'
 'Hydration Packs' 'Jerseys' 'Fenders' 'Cleaners' 'Socks' 'Caps'
 'Touring Bikes' 'Bottles and Cages' 'Vests' 'Road Bikes' 'Bike Racks'
 'Shorts' nan]

In [12]:
# range of values in each column

print(sales_data.describe())

              index          Year  Customer Age      Quantity     Unit Cost  \
count  34867.000000  34866.000000  34866.000000  34866.000000  34866.000000
mean   17433.000000   2015.569237     36.382895      2.002524    349.880567
std    10065.380254      0.495190     11.112902      0.813936    490.015846
min        0.000000   2015.000000     17.000000      1.000000      0.670000
25%     8716.500000   2015.000000     28.000000      1.000000     45.000000
50%    17433.000000   2016.000000     35.000000      2.000000    150.000000
75%    26149.500000   2016.000000     44.000000      3.000000    455.000000
max    34866.000000   2016.000000     87.000000      3.000000   3240.000000

         Unit Price          Cost       Revenue
count  34866.000000  34866.000000  34867.000000
mean     389.232485    576.004532    640.870093
std      525.319091    690.500395    736.640033
min        0.666667      2.000000      2.000000
25%       53.666667     85.000000    102.000000
50%      179.000000    261.000000    319.000000
75%      521.000000    769.000000    902.000000
max     5082.000000   3600.000000   5082.000000

# II. Data cleaning

In [13]:
# check for missing values

print(sales_data.isnull().sum())

index               0
Date                1
Year                1
Month               1
Customer Age        1
Customer Gender     1
Country             1
State               1
Product Category    1
Sub Category        1
Quantity            1
Unit Cost           1
Unit Price          1
Cost                1
Revenue             0
dtype: int64

In [14]:
# view rows with missing values

sales_data[sales_data.isnull().any(axis=1)]

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue
34866,34866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,641.532095

In [15]:
# drop missing values

sales_data = sales_data.dropna()

In [16]:
# check for missing values

print(sales_data.isnull().sum())

index               0
Date                0
Year                0
Month               0
Customer Age        0
Customer Gender     0
Country             0
State               0
Product Category    0
Sub Category        0
Quantity            0
Unit Cost           0
Unit Price          0
Cost                0
Revenue             0
dtype: int64

In [17]:
# check for duplicates

print(sales_data.duplicated().sum())

0

In [18]:
# convert to datetime

sales_data['Date'] = pd.to_datetime(sales_data['Date'])

In [19]:
# convert year column to int

sales_data['Year'] = sales_data['Year'].astype(int)

# III. Analyzing the data